{% extends 'base.html' %}
{% block content %}
<hr>

<h4 style="padding: 0 30px; color: rgb(180,30,30); font-weight: bold;"> Choose best Place and Date for Your Order!</h4>

  <hr>
<div style="padding: 0 30px;">

  <!-- აქედან იწყება მრეცხავების სია სურათებით -->
{% for branch in branches %}
{% if forloop.counter0|divisibleby:4 %}
<div class="row">
{% endif %}
<div class="col s12 m3 l3">
  <div class="row">
    <div class="col s12">
      <div class="card">
        <div class="card-image">
          <img src="{{ branch.image.url }}">
          <span class="card-title" style="color: white; font-weight: bold; text-shadow: 0px 0px 5px Black;"><b>{{ branch.title }}</b></span>
        </div>
        <div class="card-content">
          <p><b>City:</b> {{ branch.location_id.city }} -  {{ branch.location_id.zip }}.</p>
          <p><b>Location:</b> {{ branch.location_id.street_address }}.</p>
          <p><b>Phone:</b> {{ branch.phone_number }}.</p>
          <p><b>{{ branch.title }} have {{ branch.branch_boxes }} boxes.</b></p>
          <p><b>Earned - {{ branch.mm | default_if_none:0 | floatformat:2 }} GEL.</b></p>
        </div>
        <div class="card-action">
          <a href="{% url 'wellwash:branch_detail' branch.pk %}" style="color: rgb(180,30,30); font-weight: bold;">Detail-Page</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% if forloop.counter|divisibleby:4 or forloop.last %}
</div>
{% endif %}
{% endfor %}
</div>
{% endblock %}