{% extends 'base.html' %}

{% block content %}
<hr>
<div class="row"></div>
<div class="row">

    <!--  გამოტანილი ყველა ბილეთი, თითოეულ გასაყიდს აქვს ყიდვის ღილაკი. -->
    <div class="col s12 m8 l8">
        <div class="card">
            <div class="card-content">
                {% for ticket in ticket_list %}

                {% if forloop.counter0|divisibleby:4 %}
                <div class="row">
                    {% endif %}

                    <div class="col s12 m3 l3 center">
                        <div class="row">
                            <div class="col s12">
                                <div class="card" style="background-color: rgb(130,200,180);">
                                    <div class="card-content">
                                        <p>Ticket {{ ticket.pk }}</p>
                                        <p>{{ ticket.name }}</p>
                                        <p>ფასი: {{ ticket.price }}</p>
                                    </div>
                                    <div class="card-action">
                                        {% if ticket.orders %}
                                        <span style="color: rgb(0,0,0); font-weight: bold;">SALED</span>
                                        {% else %}
                <form action="{% url 'tickets:personal' %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="ticket" value="{{ ticket.pk }}">
                    <input type="hidden" name="action" value="">
                    <input type="submit" style="color:rgb(200,50,50); font-weight: bold;" name="buy" value="BUY">
                </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:4 or forloop.last %}
                </div>
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>

    <!--    აქ ქვევით გვინდა ბილეთის შეძენა -->
    <div class="col s12 m2">
        <div class="card">
            <div class="card-content">
                <p>შეარჩიეთ თავისუფალი ბილეთი!</p>
                <hr>
                <form action="{% url 'tickets:personal' %}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div style="text-align:center">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            ბილეთის შეძენა
                            <i class="material-icons right">assignment</i>
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>

    <!--    აქედან ქვევით არის ნაყიდი ბილეთების თანხები -->
    <div class="col s12 m2">
        <div class="row">
            <div class="card-content">
                <ul class="col s12 collapsible">

                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">money_off</i>
                            Year
                            <span class="badge">1</span></div>
                        <div class="collapsible-body">
                            <p>Earned: {{ earned_money_year| default_if_none:0 | floatformat:2 }}</p>
                            <p>Count: {{ washed_last_year }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">monetization_on</i>
                            Month
                            <span class="badge">1</span></div>
                        <div class="collapsible-body">
                            <p>Earned: {{ earned_money_month | default_if_none:0 | floatformat:2 }}</p>
                            <p>Count: {{ washed_last_month }}</p>
                        </div>
                    </li>
                    <li>
                        <div class="collapsible-header">
                            <i class="material-icons">next_week</i>
                            Week
                            <span class="new badge">1</span>
                        </div>
                        <div class="collapsible-body">
                            <p>Earned: {{ earned_money_week | default_if_none:0 | floatformat:2  }}</p>
                            <p>Count: {{ washed_last_week }}</p>
                        </div>
                    </li>
                    <li>
                        {% if last %}
                        <p>ბოლო შენაძენი ბილეთი:</p>
                        <p>სახელი: {{ last.ticket.name }} </p>
                        <p>თარიღი: {{ last.sale_date }} </p>
                        <p>ფასი: {{ last.t_price }}</p>
                        {% else %}
                        <p><b>თქვენ ჯერ არ შეგიძენიათ ბილეთი.</b></p>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.collapsible');
        var instances = M.Collapsible.init(elems, {});
    });
</script>
{% endblock %}
